[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-craigslist = "*"
tqdm = "*"
pytest = "*"
celery = "*"
redis = "*"
"psycopg2" = "*"
SQLAlchemy = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Scss = "*"
Flask-Mail = "*"
Flask-Bcrypt = "*"
Flask-Migrate = "*"
flower = "*"
"e1839a8" = {path = ".", editable = true}

[dev-packages]
fabric3 = "*"
tmuxp = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.6"
