[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-craigslist = "*"
tqdm = "*"
pytest = "*"
celery = "<4.1"
kombu = "!=4.2.0"
redis = "*"
"psycopg2" = "*"
SQLAlchemy = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Scss = "*"
Flask-Mail = "*"
Flask-Bcrypt = "*"
Flask-Migrate = "*"
flower = "*"

[dev-packages]
pytest = "*"
coverage = "*"
httmock = "*"
pylint = "*"
rope = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
