<table class='table'>
        <thead>
            <tr>
                <th>Site</th>
                <th>Area</th>
                <th>Category</th>
                <th>Price</th>
                <th>Description</th>
                <th>Target Move-in Date</th>
                <th>Expiration Date</th>
                <th>Owner</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for search in searches %}
            <tr>
                <td><span class="label label-default">{{ search.site.name|upper }}</span></td>
                <td><span class="label label-default">{{ search.area.name|upper }}</span></td>
                <td><span class="label label-default">{{ search.category.name|upper }}</span></td>
                <td>
                    {% if search.price_min and search.price_max %}
                    ${{ '%.2f'|format(search.price_min) }} to ${{ '%.2f'|format(search.price_max) }}
                    {% elif search.price_min %}
                    At least ${{ '%.2f'|format(search.price_min) }}
                    {% elif search.price_max %}
                    At most ${{ '%.2f'|format(search.price_max) }}
                    {% else %}
                    {% endif %}
                </td>
                <td>{{ search.description }}</td>
                <td>{{ search.target_date.strftime("%Y-%m-%d") }}</td>
                <td>{{ search.expiration_date.strftime("%Y-%m-%d") }}</td>
                <td>@{{ search.owner.username }}</td>
                <td>{{ search.status.name }}</td>
                <td>
                    <form action="{{ url_for('search.delete', identifier=search.id) }}" method='POST'>
                        <a href="{{ url_for('search.edit', identifier=search.id) }}" class='btn btn-primary' role="button">Edit</a>
                        <button type="submit  " class='btn btn-danger'>Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>