a {
    text-decoration: none
}
article {
    margin-left: 20px
}
#article {
//    width: 98%
}

.login {
    width: 500px;
    h1 {
        text-align: center;
    }
}

#name {
    
    text-decoration: underline;
    
    .logo1 {
        color: #66FFEF;
    }
    .logo2 {
        color: white;
    }
}

.tags {
    font-size: 0.5em;
    list-style: none;
    padding-left: 0px;
    display: inline;
    
    li {
        display: list-item flow;
        background-color: #7DC2CC;
        border-radius: 2px;
        margin: 2px;
        padding: 2px;
    }
}

.listing-main, .listing-location {
    p {
        margin: 0px;
    }
}

.listing-links ul {
    list-style: none;
    padding-left: 0px;
}

#navigation-bar {
    
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 10px;
    
    div {
        padding: 20px 10px;
        float: left;
        display: inline-block;
        a, a:visited {
            color: white;
        }
    }
    
    
    
}