a {
  text-decoration: none; }

  article {
    margin-left: 20px; }

    .login {
      width: 500px; }
      .login h1 {
        text-align: center; }

#name {
  text-decoration: underline; }
  #name .logo1 {
    color: #66FFEF; }
    #name .logo2 {
      color: white; }

.tags {
  font-size: 0.5em;
  list-style: none;
  padding-left: 0px;
  display: inline; }
  .tags li {
    display: list-item flow;
    background-color: #7DC2CC;
    border-radius: 2px;
    margin: 2px;
    padding: 2px; }

.listing-main p, .listing-location p {
  margin: 0px; }

.listing-links ul {
  list-style: none;
  padding-left: 0px; }

  #navigation-bar {
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px 10px; }
    #navigation-bar div {
      padding: 20px 10px;
      float: left;
      display: inline-block; }
      #navigation-bar div a, #navigation-bar div a:visited {
        color: white; }
