<tr>
    <td>
        <a href='{{ listing.url }}'>{{ listing.name }}</a>
    </td>
    <td>
        {{ listing.created }}
    </td>
    <td>
        {{ listing.available | default('', true) }}
    </td>
    <td>
        ${{ '%.2f' | format(listing.price) }}
    </td>
    <td>
        {% if listings.bedrooms or listing.bathrooms %}
            {{ listing.bedrooms | default('0', true) }} / {{ listing.bathrooms | default('0', true) }}
        {% endif %}
    </td>
    <td>
        <div data-featherlight-gallery data-featherlight-filter="a">
            {% for image in listing.images %}
                <a href='{{ url_for("image", identifier=image.id) }}'>
                    <img src='{{ url_for("thumbnail", identifier=image.id) }}' height=50 width=50>
                </a>
            {% endfor %}
        </div>
        
    </td>
    <td>
        <ul class='tags'>
        {% for tag in listing.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
        </ul>
    </td>
    <td>
        {{ listing.location | truncate(120) }}
    </td>
    <td>{% if listing.transit_stop %}
            {{ listing.transit_stop.name }} |
            {{ '%.1f'|format(listing.transit_stop_distance) }}km
        {% endif %}
    </td>
</tr>