<tr>
    <td class='listing-main' width='20%'>
        <p><a href='{{ listing.url }}' target='_blank'>{{ listing.name }}</a></p>
        <p>Created: {{ listing.created.strftime("%Y-%m-%d") }}</p>
        <p>Available: {{ listing.available | default('', true) }}</p>
    </td>
    <td>
        ${{ '%.2f' | format(listing.price) }}
    </td>
    <td>
        {% if listings.bedrooms or listing.bathrooms %}
            {{ listing.bedrooms | default('0', true) }} / {{ listing.bathrooms | default('0', true) }}
        {% endif %}
    </td>
    <td width='40%'>
        <div data-featherlight-gallery data-featherlight-filter="a">
            {% for image in listing.images %}
                <a href='{{ url_for("image", identifier=image.id) }}'>
                    <img src='{{ url_for("thumbnail", identifier=image.id) }}' height=50 width=50>
                </a>
            {% endfor %}
        </div>
        
    </td>
    <td>
        <ul class='tags'>
        {% for tag in listing.tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
        </ul>
    </td>
    <td class='listing-location'>
        <p>{{ listing.location | default('', true) | truncate(120) }}</p>
        <p>
            {% if listing.transit_stop %}
                    <strong>{{ listing.transit_stop.agency }}</strong>: {{ listing.transit_stop.name }} @ {{ '%.1f'|format(listing.transit_stop_distance) }}km
            {% endif %}
        </p>
    </td>
</tr>