{% extends "index.html" %} {% from "_pagination.html" import render_pagination %} {% block title %}ClApBot {{ title|default
}}{% endblock title %} {% block content %}
<h1>ClapBot</h1>

<div class='listings'>
  {% set pagination = listings.paginate() %} {{ render_pagination(pagination, request.endpoint) }}
  <table border="0" cellspacing="5" cellpadding="5">
    <thead>
      {% include "_entry_header.html" %}
    </thead>
    <tbody>
      {% for listing in pagination.items %} {% include "_entry.html" %} {% endfor %}
    </tbody>
  </table>
  {{ render_pagination(pagination, request.endpoint) }}
</div>
{% endblock content %}