{% extends "index.html" %}
{% block title %}ClApBot{% endblock title %}
{% block content %}
<h1>ClapBot</h1>

<div class='listings'>
  <table class='datatables display' border="0" cellspacing="5" cellpadding="5">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Bed / Bath</th>
            <th>Images</th>
            <th>Tags</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
    {% for listing in listings %}
      {% include "_entry.html" %}
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}