{% extends "base.html" %}
{% from "_pagination.html" import render_pagination %}
{% block title %}
ClApBot {{ title|default }}
{% endblock title %}

{% set active_page = active_page|default('index') %}

{% block content %}
<div class='container'>
    <h1>ClapBot</h1>
</div>

<div class='container listings'>
  {% set pagination = listings.paginate() %} {{ render_pagination(pagination, request.endpoint) }}
  <table border="0" cellspacing="5" cellpadding="5" class="table table-hover">
    <thead>
      {% include "_entry_header.html" %}
    </thead>
    <tbody>
      {% for listing in pagination.items %} {% include "_entry.html" %} {% endfor %}
    </tbody>
  </table>
  {{ render_pagination(pagination, request.endpoint) }}
</div>
{% endblock content %}