{% extends "bootstrap/base.html" %} {% block styles %}
<link rel="stylesheet" href="/static/css/normalize.css"> {{super()}}
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" type="text/css" charset="utf-8">
<link href="/static/css/featherlight.css" type="text/css" rel="stylesheet" />
<link href="/static/css/featherlight.gallery.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/site.css">
<script src="/static/js/vendor/modernizr-2.6.2.min.js"></script> {% endblock styles %} {% block navbar %}{% include "navigation.html" %}{% endblock navbar %} {% block scripts %} {{super()}}
<script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/featherlight.js"></script>
<script src="/static/js/featherlight.gallery.js"></script>
<script src="/static/js/main.js"></script> {% endblock scripts %}